/.idea/
/TheatreDjangoApp/db.sqlite3
/pas.txt
/TheatreDjangoApp/theatre/migrations/__pycache__/
/TheatreDjangoApp/theatre/__pycache__/
/TheatreDjangoApp/django-app/__pycache__/
/theatre-app-html/node_modules/
/theatre-app-html/app/css/
