{% extends 'base.html' %}

{% load static %}

{% block content %}



<section class="greeting" style="background-image: url('{% static "img/main_background.jpg" %}');">
	<div class="center-text" style="text-align: center;">
		<h1>About</h1>
        <p style="letter-spacing: 1px; margin-bottom: 10px;">This is my first django app for course-paper</p>
        <p style="text-decoration: underline">Hello Django</p>
	</div>
</section>
{% endblock %}

{% block footer %}
<footer class="footer-absolute">
    © 2017 Theatre Krivoy Rog. All copyrightes are secured.
</footer>
{% endblock %}






