{% extends 'base.html' %}
{% load static %}


{%  block header %}
<header>
    <div class="container">
        <div class="row">
            <nav>
                <div class="float-left">
                    <a href="/">Home</a>
                    {% if request.user.is_authenticated %}
                    <a href="/work">Work</a>
                    {% endif %}
                    <a href="/about">About</a>
                </div>

                <div class="float-right">
                    {% if not request.user.is_authenticated %}
                    <a href="#" id="log-in">Log in</a>
                    {% else %}
                    <a>{{ request.user }}</a>
                    <a href="/logout">Log out</a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}
<section class="schedule">
	<div class="container">
		<div class="row">
			<h3>Schedule</h3>
            <a href="#" class="right-pagination"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
		    <a href="#" class="left-pagination"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
			<!--Perfomances-->
			<div class="menu">

                {% for date,  weekday in weekdays %}
				<div>
					<a class="menu-item">
						<p class="date">{{ date }}</p>
						<span>{{ weekday }}</span>
					</a>
				</div>
                {% endfor %}

			</div>
		</div>
	</div>
</section>


<section class="hall-popup">
    <div class="container">
        <div class="row">

            <div class="loader absolute-center">Loading...</div>

            <div class="loaded">

                <div class="col-xs-9 wrapper-hall">
                    <div class="hall">
                        <h3>Hall #1</h3>

                        <div class="variants">
                            <div class="place good"></div>
                            <span>GOOD, 15$</span>
                            <div class="place super"></div>
                            <span>SUPER, 20$</span>
                            <div class="place busy"></div>
                            <span>BUSY</span>
                            <div class="place choosed"></div>
                            <span>IS CHOOSED</span>
                        </div>

                        <div class="places">
                            <div class="inner-wrapper">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 wrapper-panel">
                    <div class="panel">
                        {#  <div class="ticket-item">Row <span>2</span>, place <span>13</span>, price <span>85$</span> </div>#}
                        <button>Total</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="performances">
	<div class="container">
		<div class="row">



		</div>
	</div>
    {% csrf_token %}
</section>
{% endblock %}


