<div class="places-row">
    <div class="place good"></div>
    <div class="place good"></div>
    <div class="place good"></div>
    <div class="place good"></div>
    <div class="place good"></div>
    <div class="place good"></div>
    <div class="place good"></div>
    <div class="place good"></div>
</div>
<div class="places-row">
    <div class="place good"></div>
    <div class="place good"></div>
    <div class="place good"></div>
    <div class="place good"></div>
    <div class="place good"></div>
    <div class="place good"></div>
    <div class="place good"></div>
    <div class="place good"></div>
    <div class="place good"></div>
    <div class="place good"></div>
</div>
<div class="places-row">
    <div class="place good"></div>
    <div class="place good"></div>
    <div class="place good"></div>
    <div class="place good"></div>
    <div class="place good"></div>
    <div class="place good"></div>
    <div class="place good"></div>
    <div class="place good"></div>
    <div class="place good"></div>
    <div class="place good"></div>
</div>
<div class="places-row">
    <div class="place super"></div>
    <div class="place super"></div>
    <div class="place super"></div>
    <div class="place super"></div>
    <div class="place super"></div>
    <div class="place super"></div>
    <div class="place super"></div>
    <div class="place super"></div>
    <div class="place super"></div>
    <div class="place super"></div>
</div>